<div class="modal" id="modal-ajax">
    <div class="modal__top">
        <div class="modal__heading h1">
            Пример ajax попапа
        </div>
    </div>
    <div class="modal__body">
        <p>
            Работает!
        </p>
        <form class="modal__form form" data-form novalidate>
            <div class="form-row">
                <div class="form-col">
                    <div class="file-attacher" data-file-attacher>
                        <input id="file-attacher-3" class="file-attacher__input" type="file" name="files" multiple data-file-attacher-input>

                        <div class="file-attacher__btn">
                            <label for="file-attacher-3" data-file-attacher-add-btn>
                                Прикрепить файл (динамический контент)
                            </label>
                        </div>

                        <ul class="file-attacher__list" data-file-attacher-file-list></ul>
                    </div>
                </div>
            </div>
            <div class="form-row form-row--confirm">
                <div class="form-col">
                    <button>Отправить</button>
                </div>
            </div>
        </form>
    </div>
</div>